# Godot 4+
.godot/
*.translation

# C++ Executables and Libraries
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.o
*.obj
*.pdb
*.exp
*.ilk
build/
bin/
out/
cmake-build-*/

# IDE / Editor files
.vs/
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/
